.color_card {
  display: flex;
  flex-direction:column;
  width: 230px;
  border: 2px solid rgb(237, 234, 234);
  border-radius: 15px;
  box-shadow: 7px 5px 10px 5px rgb(218, 215, 215);
  padding: 15px;
  cursor: pointer;
  color: aliceblue;

}
p {
  margin: 0;
}
.name {
  font-size: 19px;
  width: 100%;
}

