.header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 70px;
  padding: 3px 0;
  font-weight: 700;
  color: rgb(198, 235, 142);
  background-position-y: bottom;
  background-size: cover;
}
.header_title {
  margin: 0;
  font-size: 65px;
}

