.search_input {
  width: 300px;
  font-size: 18px;
  padding: 7px 14px;
  border: 2px solid rgb(203, 187, 213);
  border-radius: 20px;
  width: 90%;
  color: rgb(108, 74, 130);
}


input {outline: 0 !important;}

.search_input { 
  -moz-appearance: textfield;
}
.search_input::-webkit-inner-spin-button { 
  display: none;
}