.color_card {
  display: flex;
  flex-direction:column;
  width: 370px;
  height: 160px;
  font-size: 20px;
  border: 2px solid rgb(237, 234, 234);
  border-radius: 15px;
  box-shadow: 7px 5px 10px 5px rgb(218, 215, 215);
  padding: 15px;
  cursor: pointer;
  color: aliceblue;

}
.color_info_wrapper {
  z-index: 100;
}
p {
  margin: 0;
}
.name {
  font-size: 19px;
  width: 100%;
}
.year{
  width:100%
}
