.footer {
    font-size: 20px;
    padding: 10px;
    text-align: right;
    color:white;
    background-position-y: bottom;
    background-size: inherit;
 
}
.footer_link{
    font-size: 20px;
    color: #c6eb8e;
}